@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Geologica';
}

button, a {
    @apply cursor-pointer;
}

th, td {
    @apply py-3 px-4;
}

.fc-toolbar-title {
    @apply !text-base xl:!text-xl text-blue-900 font-bold;
  }